@import '../../../styles-variables';

.container {
  margin-top: 20px;
}

.main-heading {
  text-transform: uppercase;
  margin: 0 0 20px 0;
}

mat-card {
  margin: 20px, 20px, 20px, 20px;
  padding: 20px, 20px, 20px, 20px;

  mat-card-title {
    position: relative;
  }

  mat-card-subtitle {
    min-height: 60px;
  }

  a {
    mat-icon {
      position: relative;
      top: 2px;
      font-size: 16px;
    }
  }

  a[mat-icon-button] {
    position: relative;
    top: -4px;
    left: 5px;
  }
}
