<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="main-heading">About Me</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p>
        Born a Texan and raised in Dallas, I grew up thinking I wanted to become an actor. After graduating from the Booker T Washington High School of Peforming and Visual Arts,
        I continued pursuing the dream of  stage lights and Broadway in undergraduate studies. Upon receiving my Bachelor's degree, the only thing clear to me at that point,
        was that the wanderlust had gotten hold of me and I wanted to see the world. I spent time living in Chicago, London, Dusseldorf, and Miami while crossing the globe every chance I could get.
      </p>
      <p>
        In the late 1990s, like many, I followed the trail to the land of milk and honey in Silicon Valley where I landed my first developer job working for a bio-tech start-up in San Francisco where I lived for
        the next 18 years. During that time, I earned my MS in Information Systems, quickly moved up to Senior Developer, Dev Manager, and Lead Sr. Consultant. I discovered and became a practicioner of Agile and Scrum in its early and formative time. I always
        instictively knew what was next on the dev tech horizion.
      </p>
      <p>Around 2009, Network effects, platforms, open-sourse software, cloud computing, and big data were beginning to converge to create the tipping point that
          is now propelling us forward at a very quick pace into the world of Artificial Intelligence, Machine Learning, and IoT where the future seems to hold limitless possiblities.</p>
      <p>
        In 2014, life came full circle, when I found myself returning home to Texas along with the thousands of individuals and companies moving here everyday. I have taken the time to re-tool with new skills to participate in this bright future
      </p>
      <p>Servant Leader, Knowledge Seeker, Curious Cat, Book Worm, Language Lover, Theatre Geek, Food Fantic, Creative Collaborator</p>
    </div>

