<div class="container">
  <div class="row">
    <div class="col-12">
      <h2 class="main-heading">About Me</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h3>Servant Leader, Knowledge Seeker, Creative Collaborator</h3>
        <h3>Curious Cat, Book Worm, Language Lover, Theatre Geek, Food Fanatic, Adventurous Traveller</h3>
      <hr>
      <p>
          When the convergence of network effects, platforms, open-source software, cloud computing, and big data created the tipping point
          that is now propelling us forward at a quick pace into the world of Artificial Intelligence, Machine Learning, and IoT, I decided it was time to retool
          with new skills to participate in this bright future.
      </p>
      <p>
          I have always thrived sitting somewhere comfortably between cutting and bleeding edge, never dull.
          I am currently focused on full stack development with proficiencies in Angular, ngrx, rxjs, and  Angular Material.
          Python and Ruby are also in my tool belt.
          Don't ask me who I think is winning the React/Angular war.
          It's not a war; whichever gets the job done and meets your requirements is the right tool to use.
          Longer term, my interests are focused on building solutions to meet organizations' needs around their emerging data strategies with Artificial Intelligence, Machine Learning, and data engineering.
      </p>
      <p>
          I have over 20 years of experience leading teams using agile iterative processes to develop quality solutions in support of
          operational and strategic business needs with a proven ability to balance business, management,
          and technical perspectives aligning the
          development team with the business. I have worked primarily with Microsoft Platform technologies early in my career.
      </p>
    </div>

