<div class="container">
  <div class="row">
    <div class="col-12">
      <h2 class="main-heading">About Me</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p>
       After living in the San Francisco for 20 years, this native Texan recently returned home to Dallas, Texas. Most of my career has been focused on .NET MVC, C#,
       and Microsoft Platform Technologies and development of enterprise solutions for the legal industry.
       During that time I became a practioner of Agile development methodologiges and project management while it was still in its early formative stages.
      </p>
      <p>
        When the convergence of network effects, platforms, open-source software, cloud computing, and big data created the tipping point
        that is now propelling us forward at a quick pace into the world of Artificial Intelligence, Machine Learning, and IoT, I decided it was time to retool
        with new skills to participate in this bright future.
      </p>
      <p>
        I am currently focused on full stack development with Angular, ngrx, rxjs, and  Angular Material. Python and Ruby are also in my tool belt.
        I am seeking innovative and collaborative endeavors with organizations that could ultimately lead to participation in AI, ML, and data strategy iniitiatives.
      </p>
      <p>Servant Leader, Knowledge Seeker, Curious Cat, Book Worm, Language Lover, Theatre Geek, Food Fanatic, Creative Collaborator</p>
    </div>

