<div class="background">
  <div class="gradient">
    <div class="container">
      <h1>Full Stack Developer</h1>
      <div class="actions">
        <a mat-raised-button [ngClass]="routeAnimationsElements" target="_blank" href="">
          <mat-icon fontSet="fab" fontIcon="fa-superpowers"></mat-icon>
          Angular
        </a>
        <a mat-raised-button [ngClass]="routeAnimationsElements" target="_blank" href="">
          <mat-icon fontSet="fab" fontIcon="fa-superpowers"></mat-icon>
          ngrx, RxJS
        </a>
        <a mat-raised-button [ngClass]="routeAnimationsElements" target="_blank" href="">
          <mat-icon fontSet="fab" fontIcon="fa-superpowers"></mat-icon>
          Express, Node
        </a>
        <a mat-raised-button [ngClass]="routeAnimationsElements" target="_blank" href="">
          <mat-icon fontSet="fab" fontIcon="fa-superpowers"></mat-icon>
          Firebase, MongoDb
        </a>
      </div>
      <div class="get-started" [ngClass]="routeAnimationsElements">
        <a mat-raised-button [ngClass]="routeAnimationsElements" target="_blank" href="">
          <mat-icon fontSet="fab" fontIcon="fa-superpowers"></mat-icon>
          Python, Ruby
        </a>
        <a mat-raised-button [ngClass]="routeAnimationsElements" target="_blank" href="">
          <mat-icon fontSet="fab" fontIcon="fa-superpowers"></mat-icon>
          HTML5,ES5,CSS3
        </a>
        <a mat-raised-button [ngClass]="routeAnimationsElements" target="_blank" href="">
          <mat-icon fontSet="fab" fontIcon="fa-superpowers"></mat-icon>
          Artificial Intelligence
        </a>
        <a mat-raised-button [ngClass]="routeAnimationsElements" target="_blank" href="">
          <mat-icon fontSet="fab" fontIcon="fa-superpowers"></mat-icon>
         Machine Learning
        </a>
        <br><br>
        <code>cd new-project</code><br>
        <span>"The price of reliability is the pursuit of the utmost simplicity...Simplicity is <em>Hard</em>"</span>
      </div>
    </div>
  </div>
</div>
