@import '../../../styles-variables';

.project-card {
  width: 600px;
  margin: 10px, 20px, 10px, 20px;
  padding: 10px, 20px, 10px, 20px;
}

.img {
  width: 100%;
}

.project-container {
  min-height: 100%;
  width: 95%;
  margin-left: 10px;
  padding-left: 20px;
  margin-bottom: 50px;
}

h2 {
  margin-left: 20px;
  margin-top: 20px;
}

.spacer {
  padding-top: 20px;
  padding-bottom: 2px;
}
