<div class="container">
  <div class="row">
    <mat-tab-group>
      <mat-tab label="Pomo-Doist">
        <div class="col-md project-card">
          <mat-card class="mat-elevation-z4">
            <mat-card-header>
              <img mat-card-avatar src="../../../assets/projects/angular-red.png">
              <mat-card-title>Pomodoro-it</mat-card-title>
              <mat-card-subtitle>Angular 6, Material, ngrx 6</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../../assets/projects/pomo-doist.png">
            <mat-card-content>
              <p></p>
            </mat-card-content>
            <mat-card-actions>
              <a mat-icon-button matTooltip="Project Github Repository" matdTooltipPosition="before"
                href="https://github.com/djr-taureau/pomodoro-it-ngrx" target="_blank">
                <mat-icon><i class="material-icons">code</i></mat-icon>
              </a>
              <a mat-button matdTooltipPosition="before" matTooltiop="Open App"
                href="https://pomodoro-it.firebaseapp.com" target="_blank">
                <mat-icon><i class="material-icons">open_in_new</i></mat-icon>
              </a>
            </mat-card-actions>
          </mat-card>
        </div>
      </mat-tab>
      <mat-tab label="Personal Trainer">
        <div class="col-md project-card">
          <mat-card class="mat-elevation-z4">
            <mat-card-header>
              <img mat-card-avatar src="../../../assets/projects/angular-red.png">
              <mat-card-title>Personal Trainer</mat-card-title>
              <mat-card-subtitle>Angular 6, Bootstrap, MongoDB</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../../assets/projects/personal-trainer.png">
            <mat-card-content>
              <p></p>
            </mat-card-content>
            <mat-card-actions>
              <a mat-icon-button matTooltip="Project Github Repository" matdTooltipPosition="before"
                href="https://github.com/djr-taureau/angular-personal-trainer" target="_blank">
                <mat-icon><i class="material-icons">code</i></mat-icon>
              </a>
              <a mat-button matdTooltipPosition="before" matTooltiop="Open App"
                href="https://personal-trainer-49f99.firebaseapp.com/" target="_blank">
                <mat-icon><i class="material-icons">open_in_new</i></mat-icon>
              </a>
            </mat-card-actions>
          </mat-card>
        </div>
      </mat-tab>
      <mat-tab label='Auth'>
        <div class="col-md project-card">
          <mat-card class="mat-elevation-z4">
            <mat-card-header>
              <img mat-card-avatar src="../../../assets/projects/angular-red.png">
              <mat-card-title>Firebase Authentication</mat-card-title>
              <mat-card-subtitle>Angular 6, Firebase</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../../assets/projects/auth.png">
            <mat-card-content>
              <p></p>
            </mat-card-content>
            <mat-card-actions>
              <a mat-icon-button matTooltip="Project Github Repository" matdTooltipPosition="before"
                href="https://github.com/djr-taureau/firebase-auth" target="_blank">
                <mat-icon><i class="material-icons">code</i></mat-icon>
              </a>
              <a mat-button matdTooltipPosition="before" matTooltiop="Open App"
                href="https://fir-auth-47734.firebaseapp.com" target="_blank">
                <mat-icon><i class="material-icons">open_in_new</i></mat-icon>
              </a>
            </mat-card-actions>
          </mat-card>
        </div>

      </mat-tab>
      <mat-tab label="KanbanAngular">
        <div class="col-md project-card">
          <mat-card class="mat-elevation-z4">
            <mat-card-header>
              <img mat-card-avatar src="../../../assets/projects/angular-red.png">
              <mat-card-title>Kanban Board</mat-card-title>
              <mat-card-subtitle>Angular 8, Firestore, Angular Universal/SSR, </mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../../assets/projects/chat.png">
            <mat-card-content>
              <p></p>
            </mat-card-content>
            <mat-card-actions>
              <a mat-icon-button matTooltip="Project Github Repository" matdTooltipPosition="before"
                href="https://github.com/djr-taureau/kanbangular" target="_blank">
                <mat-icon><i class="material-icons">code</i></mat-icon>
              </a>
              <a mat-button matdTooltipPosition="before" matTooltiop="Open App"
                href="https://kanbangular-7c216.firebaseapp.com/" target="_blank">
                <mat-icon><i class="material-icons">open_in_new</i></mat-icon>
              </a>
            </mat-card-actions>
          </mat-card>
        </div>
      </mat-tab>
      <mat-tab label="Jams">
        <div class="col-md project-card">
          <mat-card class="mat-elevation-z4">
            <mat-card-header>
              <img mat-card-avatar src="../../../assets/projects/angular-red.png">
              <mat-card-title>Jams Music Player</mat-card-title>
              <mat-card-subtitle>AngularJS</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../../assets/projects/jams.png">
            <mat-card-content>
              <p></p>
            </mat-card-content>
            <mat-card-actions>
              <a mat-icon-button matTooltip="Project Github Repository" matdTooltipPosition="before"
                href="https://github.com/djr-taureau/Bloc-Jams-AngularJS" target="_blank">
                <mat-icon><i class="material-icons">code</i></mat-icon>
              </a>
              <a mat-button matdTooltipPosition="before" matTooltiop="Open App" href="" target="_blank">
                <mat-icon><i class="material-icons">open_in_new</i></mat-icon>
              </a>
            </mat-card-actions>
          </mat-card>
        </div>

      </mat-tab>
    </mat-tab-group>
