@import '../../../styles-variables';

:host {
  display: block;
  width: 900px;
  height: 800px;
  position: sticky; top: 50px;

}

.box-pos {
  margin: 20px, 20px, 20px, 20px;
  padding: 20px, 20px, 20px, 20px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  position: absolute;
  top: 25%;
}

.left-button {
  left: 0;
}

.right-button {
  right: 0;
}

p {
  margin: 0;
  padding: 1em;
}

main {
  margin-bottom: 16px;
}
