@import '~@angular/material/theming';

@mixin app-books-component-theme($theme) {
  $warn: map-get($theme, warn);

  app-books {
    mat-card {
      .negative {
        color: mat-color($warn);
      }
    }

    .error {
      mat-icon {
        color: mat-color($warn);
      }
    }
  }
}
