<div class="container">

  <div class="row">
    <div class="col-sm">
      <mat-card class="place-card mat-elevation-z4">
        <mat-card-header>
          <img mat-card-avatar src="https://source.unsplash.com/random/200x200">
          <mat-card-title>Provincetown</mat-card-title>
          <mat-card-subtitle>Summer 2019</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../../assets/places/pvc-1.jpg">
      </mat-card>
    </div>
    <div class="col-sm">
      <mat-card class="place-card">
        <mat-card-header>
          <img mat-card-avatar src="https://source.unsplash.com/random/200x200">
          <mat-card-title>Provincetown</mat-card-title>
          <mat-card-subtitle>Summer 2019</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../../assets/places/pvc2.jpg">
      </mat-card>
    </div>
    <div class="col-sm">
      <mat-card class="place-card">
        <mat-card-header>
          <img mat-card-avatar src="https://source.unsplash.com/random/200x200">
          <mat-card-title>Pompeii</mat-card-title>
          <mat-card-subtitle>Spring 2019</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../../assets/places/pompeii-2.jpg">
      </mat-card>
    </div>
  </div>
  <div class="row col-12"> <br /></div>

  <div class="row">
    <div class="col-sm">
      <mat-card class="place-card mat-elevation-z4">
        <mat-card-header>
          <img mat-card-avatar src="https://source.unsplash.com/random/200x200">
          <mat-card-title>Provence</mat-card-title>
          <mat-card-subtitle>Summer 2018</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../../assets/places/place_1.jpg">
      </mat-card>
    </div>
    <div class="col-sm">
      <mat-card class="place-card">
        <mat-card-header>
          <img mat-card-avatar src="https://source.unsplash.com/random/200x200">
          <mat-card-title>Provence</mat-card-title>
          <mat-card-subtitle>Summer 2018</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../../assets/places/lav.jpg">
      </mat-card>
    </div>
    <div class="col-sm">
      <mat-card class="place-card">
        <mat-card-header>
          <img mat-card-avatar src="https://source.unsplash.com/random/200x200">
          <mat-card-title>Provence</mat-card-title>
          <mat-card-subtitle>Summer 2018</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../../assets/places/place_3.jpg">
      </mat-card>
    </div>
  </div>
  <div class="row col-12"><br /></div>

</div>
