<div class="container">
  <h1>Places Visited</h1>
<div class="row">
<div class="col-sm">
  <mat-card class="place-card mat-elevation-z4">
  <mat-card-header>
    <img mat-card-avatar src="https://source.unsplash.com/random/200x200">
    <mat-card-title>Senanque Abbey, Provence</mat-card-title>
    <mat-card-subtitle>Summer 2018</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="../../../assets/places/place_1.jpg">
  </mat-card>
</div>
<div class="col-sm">
  <mat-card class="place-card">
  <mat-card-header>
    <img mat-card-avatar src="https://source.unsplash.com/random/200x200">
    <mat-card-title>Venasque, Provence</mat-card-title>
    <mat-card-subtitle>Summer 2018</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="../../../assets/places/lav.jpg">
  </mat-card>
</div>
<div class="col-sm">
  <mat-card class="place-card">
  <mat-card-header>
    <img mat-card-avatar src="https://source.unsplash.com/random/200x200">
    <mat-card-title>Gordes, Provence</mat-card-title>
    <mat-card-subtitle>Summer 2018</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="../../../assets/places/place_3.jpg">
  </mat-card>
</div>
</div>
<div class="row col-12"></div>

</div>
